body{ 
    background-color: #f2f2f2;
    .contact{
        background-color: #f2f2f2;
    }
    .cajaDeContacto{
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        padding-left: 50vh;
        padding-right: 50vh;
        padding-bottom: 5vh;
    }
    .pContact{
        color: #222326;
        font-family: 'Alegreya', serif;
        font-family: 'Tinos', serif;
        text-align: center;
    }
}