body{
    .gridHead{
        @media only screen and (max-widht: 320px){
            grid-template-columns: (1, 4fr);
        }
        @media only screen and (max-widht: 768px){
            grid-template-columns: (2, 4fr);
        }
    }
    .gridsEscuela{
    @media only screen and (max-widht: 320px){
        grid-template-columns: (1, 4fr);
    }
    @media only screen and (max-widht: 768px){
        grid-template-columns: (2, 4fr);
    }
}
.gridsI{
    @media only screen and (max-widht: 320px){
        grid-template-columns: (1, 4fr);
    }
    @media only screen and (max-widht: 768px){
        grid-template-columns: (2, 4fr);
    }
}
.gridFoot{
    @media only screen and (max-widht: 320px){
        grid-template-columns: (1, 4fr);
    }
    @media only screen and (max-widht: 768px){
        grid-template-columns: (2, 4fr);
    }
}
}